<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Paul Leflon</title>
	<link rel="stylesheet" href="style.css">
	<script>
		window.CONVERSATION_TOKEN = '<%= token %>';
	</script>
</head>

<body>
	<div id="app">
		<h1>Welcome to the Single Page Express App</h1>
	</div>
	<form action='/api/message' method='POST'>
		<input type='hidden' name='token' value='<%= token %>'>
		<input type='text' name='message' placeholder='Type your message here...' required>
		<button type='submit'>Send</button>
	</form>
	<script src="script.js"></script>
</body>

</html>